header{
    text-align: center;
    background-color:rgb(68, 77, 80);
    padding: 80px;
    font-size: 30px;
    color: white;
}
body{
    margin: 0px;
}
ul {
        text-align: left;
        background-color:rgba(62, 70, 72, 0.887);
        margin: 0px;
        margin-top: 1px;
}
    
ul li {
        font-size: 15px;
        margin: 0 10px;
        line-height: 60px;
        display: inline-block;
        text-decoration: none;
        font-size: 20px;
}
ul li a{
    color: aliceblue;
    text-decoration: none;
    padding-left: 5cm;
}
ul li a :hover{
    color: aqua;
}
.sub{
    padding-left: 7px;
    margin-bottom: 5cm;
}
/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 20%;
  padding: 35px;
  margin-left: 2cm;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}
.downlogo{
    margin-top: 10cm;
}
.buy{
    
    float: right;
    margin-right: 5cm;
}
.button{
    font-size: 38px;
    margin-right: 5cm;
    background-color: rgb(10, 152, 60);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    text-shadow: rgba(63, 146, 119, 0.892) 0px 3px 3px;
    margin-bottom: 1cm;
}
.contact{
    margin-top: 0;
}
.sociallinks{
   float: right;
   margin-top: 5cm;
   text-decoration: none;
   padding-bottom: 3cm;
   font-size: 23px;
   
}
.sociallinks .insta a{
   color: #d62976;
   text-decoration: none; 
}
.sociallinks .whatsapp a{
    color: #25d366;
    text-decoration: none;
}

.sociallinks .insta a:hover{
    color: #833AB4;
}
.sociallinks .whatsapp a:hover{
    color: #075e54;
}
ul li a:hover{
    color: black;
}
@media screen and (max-width: 320px){
    header{
        text-align: center;
        background-color:rgb(68, 77, 80);
        padding: 3px;
        font-size: 20px;
        color: white;
    }

}
